<%- include("partials/header") %>
<div class="container mt-3">
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
            <a class="btn btn-primary btn-md" href="/campgrounds">Main Page</a>
            </p>
        </div>
    </header>
</div>
<%- include("partials/footer") %>